<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.training"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

<!-- This two are the needed requirements add the uses permission and feature -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			<intent-filter>
			    <action android:name="android.nfc.action.NDEF_DISCOVERED" />
			    <category android:name="android.intent.category.DEFAULT" />
			    <data android:mimeType="application/com.android.training.beam" />
			</intent-filter>

<!-- 			<intent-filter> -->
<!-- 			    <action android:name="android.nfc.action.TECH_DISCOVERED"/> -->
<!-- 			</intent-filter> -->
<!--             <meta-data -->
<!--                 android:name="android.nfc.action.TECH_DISCOVERED" -->
<!--                 android:resource="@xml/nfc_tech_filter" /> -->
        </activity>
    </application>

</manifest>